.projectMenu {
  position: relative;
  z-index: 10;
  box-shadow: 0 7px 21px rgba(0,0,0,.1);
  background-color: #f7f7f7;
}

.header {
  position: relative;
  border-bottom: 1px solid #e3e3e3;

  & > h2 {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 0;
    color: #383838;
  }
}

.closeIcon {
  position: absolute;
  top: 1.333rem;
  right: 1rem;
  cursor: pointer;
}

.noShow {
  display: none;
}

.body {
  width: 100%;

  & > li {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.2rem;

    &:hover {
      background-color: #eee;
    }

    & > span:first-child {
      font-size: 1.4rem;
      line-height: 0;
    }

    & > span:last-child {
      flex: 1;
      color: #383838;
      padding-left: 1.5rem;
    }
  }
}