:root {
  --active-color: #3da8f5;
  --boder-color: #eee;
  --title-color: rgba(0,0,0, .7);
}

.title {
  text-align: center;
  font-size: 1.4rem;
}

.body {
  width: inherit;
  height: 60rem;
  display: flex;
}

.left {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--boder-color);
  margin-bottom: 0;
}

.opt {
  padding: 1.3rem;
  font-size: 1.2rem;
  color: gray;
  border-bottom: 1px solid var(--boder-color);
  position: relative;
  display: flex;

  & > span:first-child {
    margin-right: 0.6rem;
  }

  &:hover {
    color: var(--active-color);
  }

  &.selected {
    color: var(--active-color);
  }
}

.opt:before {
  background-color: var(--active-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.3rem;
}

.right {
  width: 80%;
  height: 100%;
  padding: 2.2rem;
}

.info {
  width: 100%;

  & .cover {
    display: flex;

    & > .img {
      width: 20rem;
      height: 10rem;
      background-color: pink;
      border-radius: 4px;
      margin-right: 2rem;
    }
  }

}

.infoItem {
  margin-bottom: 2rem;

  & > h2 {
    font-size: 1.3rem;
    color: var(--title-color);
    margin-bottom: 1.5rem !important;
  }
}


.projectOwner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .owner {
    display: flex;
    align-items: center;
  
    & > span:first-child {
      margin-right: 0.7rem;
    }
  }
}

.infoSave {
  margin-top: 2.2rem;
  padding-top: 1.2rem;
  border-top: 1px solid #eee;
  text-align: right;
}

.operation {
  display: flex;
  flex-direction: column;

  & > span:first-child {
    color: gray;
    margin-bottom: 1.4rem;
  }


}