.org {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center {
  width: 96rem;
  padding-top: 4rem;  /* 和 header 高度一致 */

  & > section {
    width: inherit;
    margin-bottom: 4rem;

    & > h2 {
      font-size: 1.3rem;
      color: #383838;
      font-weight: 400;
      margin-bottom: 1.4rem !important;
    }
  }

  & > section:last-child > h2 {
    display: flex;
    align-items: center;

    & > span:last-child {
      font-size: 1.2rem;
      color: gray;
      margin-left: 1rem;
    }
  }
}

.projGroup {
  width: inherit;
}