.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 1.4rem;
  position: relative;
  transition: padding-right 218ms ease;
  background-color: rgba(138,202,249,.8);
  user-select: none;

  &:hover {
    padding-right: 2rem;

    & > .remove {
      opacity: 1;
    }
  }
}

.content {
  display: inline-block;
  max-width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove {
  position: absolute;
  right: 7px;
  opacity: 0;
  transition: opacity 218ms ease;
}