ul.customFields {
  padding: 1.5rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  & > .item {
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;

    & > .left {
      width: 24%;
      color: #8c8c8c;
    }

    & > .right {
      flex: 1;
      color: gray;
    }
  }

  & > .item:last-child {
    margin-bottom: 0;
  }
}