:root {
  --text-color: gray;
  --text-bg-color: #f5f5f5;
}

.title {
  display: flex;
  align-items: center;

  & > .info {
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--text-bg-color);
    color: var(--text-color);

    & > span:nth-child(2) {
     margin: 0 0.5rem; 
    }
  }

  & > .action {
    flex: 1;
    text-align: right;
    color: var(--text-color);
  }
}